<!-- Spa Page -->
<!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="about-content col-lg-12">
           <%= render(:partial => "editable-sections/about-section")%>
        </div>
      </div>
    </div>
  </section>

<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
        <%= render(:partial => "editable-sections/services-section")%>
    </div>
  </div>
</section>

<!-- section_for Portfolio Structured layout -->
<%= section_for('Portfolio') do %>
<!-- nested partials -->
<!-- YelpCamp -->
  <%= render(:partial => 'editable-sections/panels/yelpcamp', :locals => {:title => "YelpCamp"})%>

<!-- Trollr -->
  <%= render(:partial => 'editable-sections/panels/trollr', :locals => {:title => "Trollr"})%>

<% end %>
