<!-- Spa Page -->
<!-- Partials -->
<%=render(:partial => "shared/navigation") %>
<%= render(:partial => "shared/header") %>

<!-- Save alert for form -->
<%= flash_alerts() %>

<!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="about-content col-lg-12">
           <%= render(:partial => "editable-sections/about-section")%>
        </div>
      </div>
    </div>
  </section>


<!-- Services Section -->
<section id="services">
  <div class="container">
    <div class="row">
        <%= render(:partial => "editable-sections/services-section")%>
    </div>
  </div>
</section>
