<div class="col-md-6">
  <div class="panel-md">
     <%= image_tag(data["img"], class: "img-responsive", alt: "YelpCamp")%>
     <!--if Hover animation display this -->
     <div class="hover-info">
       <div class="info-wrapper">
           <!--Title-->
           <h2 class="project-title"><%= title %></h2>
           <!--Info-->
           <span class="info">
             <%= data["info"] %>
           </span>
           <!-- Button -->
           <div class="btn-position">
             <a href="<%= data["link-1"] %>" target="_blank" class="btn btn-sharp">
               Github
             </a>
             <a href="<%= data["link-2"] %>" target="_blank" class="btn btn-sharp">
                Heroku
             </a>
           </div>
       </div>
     </div>
  </div>
</div>
