<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Patrick Sunico | Front-end Web Developer | Designer</title>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  </head>

  <body id="page-top" data-spy="page-scroll" data-target=".navbar-fixed-top">
    <!-- Partials -->

    <!-- Save alert for form -->
    <%= flash_alerts() %>
      <%= yield %>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <a class="contact-links" href="https://ph.linkedin.com/in/apatricksunico" target="_blank">
              <i class="ps-linkedin-logo"></i>
            </a>
            <a class="contact-links" href="https://github.com/PatrickSunico" target="_blank">
              <i class="ps-github-logo"></i>
            </a>
            <a class="contact-links" href="http://codepen.io/Patrick_Starr/" target="_blank">
              <i class="ps-codepen-logo-bordered"></i>
            </a>
            <p class="footer-message">
              Made by <strong>Patrick Sunico</strong> and a whole lotta love
              <i class="ps-pixelHeart">
                <span class="path1"></span><span class="path2"></span><span class="path3"></span>
              </i>
            </p>
            <p class="copyright">&copy;	PS 2016 All rights reserved</p>
          </div>
        </div>
      </footer>

  </body>
</html>
